<h1>New Review for <%= @restaurant.name %></h1>
<%= simple_form_for [@restaurant, @review] do |f| %>
  <%= f.input :content, class: "form-control" %>
  <%= f.input :rating, collection: (0..5), class: "form-control" %>
  <%= f.submit "Add new review", class: "btn btn-primary" %>
<% end %>
